/*======= Footer =======*/
.footer{
    background: #000116;
    color: #fff;
    bottom: 0;
    border-top: 1px solid #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer .footer_main{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer .footer_main .ft_link a{
    color: #fff;
    font-size: 30px;
    margin: 10px;
}
.footer .footer_main .ft_name{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}