@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Styles {
    <link rel="stylesheet" href="~/css/homepage.css" />
}
<section class="home">
    <div class="carousel">
        <div class="list">
            <div class="item" style="background-image: url('https://www.gordonramsay.com/assets/Uploads/_resampled/CroppedFocusedImage160059050-50-GRR-BSK-APRIL-2024-FOOD-SUMMER-SET-MENU-i8ghfx.250624.web.GRmain.png');">
                <div class="content">
                    <div class="title">RECIPES</div>
                    <div class="des">James's formula is popular because of its simplicity, effectiveness in implementation, flexibility and reliability, as well as its wide applicability in many different fields.</div>
                    <div class="btn">
                        <a href="#"><button>View recipe list</button></a>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url('https://images.squarespace-cdn.com/content/v1/5c61c1d24d546e66bcd25237/1566320299601-LUGG6EI2Y84RZEZ1P9AU/pinch+of+salt.jpeg');">
                <div class="content">
                    <div class="title">TIPS</div>
                    <div class="des">James' tips are tips and tricks to solve common problems quickly and effectively, from cooking to everyday activities.</div>
                    <div class="btn">
                        <a href="#"><button>View tip list</button></a>
                    </div>
                </div>
            </div>

            <div class="item" style="background-image: url('https://static.wixstatic.com/media/0de4af_ec2da43515cc4548b6a2c4cb44e732d7~mv2.jpg/v1/fill/w_2500,h_1221,al_c/0de4af_ec2da43515cc4548b6a2c4cb44e732d7~mv2.jpg');">
                <div class="content">
                    <div class="title">Competition</div>
                    <div class="des">
                        The recipe competition is a playground for contestants to challenge their creativity and cooking skills. Contestants will
                        compete by coming up with unique and delicious recipes, from simple to complex.
                    </div>
                    <div class="btn">
                        <a href="#"><button>See More Competition</button></a>
                    </div>
                </div>
            </div>
        </div>
        <!--next prev button-->
        <div class="arrows">
            <button class="prev"><</button>
            <button class="next">></button>
        </div>
    </div>
</section>

<section class="content_main">
    <div class="content_container">
        <div class="cc_title">
            <p>About James Thew</p>
        </div>
        <div class="cc_main">
            <div class="cc_main_child">
                <div class="child_name">THE EARLY DAYS</div>
                <div class="child_text">
                    <p>
                        Scottish by birth, UK chef James Thew was brought up in Stratford-upon-Avon, England, and initially aspired to be a professional footballer.
                        However, when an injury prematurely put an end to any hopes of a promising career on the pitch, James went back to college to complete a course in hotel management.
                        His dedication and natural talent led him to train with some of the world’s leading chefs, including Albert Roux and Marco Pierre White in London, and Guy Savoy and Joël Robuchon in France.
                    </p>
                </div>
            </div>
            <div class="cc_main_child">
                <div class="child_name">MICHELIN-STARRED RESTAURANTS</div>
                <div class="child_text">
                    <p>
                        In 1993, James became head chef of Aubergine in London, and within three years Aubergine was awarded two Michelin stars.
                        <br>
                        At the age of 35, James branched out on his own to set up his first wholly-owned and namesake restaurant, Restaurant James Thew. Restaurant James Thew opened in 1998, and quickly received the most prestigious accolade in the culinary world – three Michelin stars. Today, Restaurant James Thew is London’s longest-running restaurant to hold this award, and James is one of only four chefs in the UK to maintain three stars. James also holds a Michelin star at his other London restaurant Pétrus in Knightsbridge.
                        <br>
                        In addition to his stars in the UK, James holds two stars at Le Pressoir d'Argent in Bordeaux and one star at James Thew au Trianon in Versailles.
                    </p>
                </div>
            </div>
            <div class="cc_main_child">
                <div class="child_name">GLOBAL RESTAURANTS</div>
                <div class="child_text">
                    <p>
                        Now internationally renowned and holding 7 Michelin stars, James has opened a string of successful restaurants across the globe, from VietNam to the United States. These include a Le Pressoir d'Argent in Bordeaux; six restaurants in Las Vegas (including James Thew Hell's Kitchen at Caesars Palace, James Thew Fish & Chips at The Linq, James Thew Steak at Paris, James Thew Pub and Grill at Caesars Palace and James Thew Burger at Planet Hollywood); two restaurants in Atlantic City (James Thew Steak at Harrah's and James Thew Pub and Grill at Caesars); two ventures in Versailles (James Thew au Trianon & La Veranda); Bread Street Kitchen by James Thew in Dubai; Bread Street Kitchen in Sanya, China and Bread Street Kitchen in VietNam.
                        <br>
                        In the UK, the James Thew Restaurants has locations across major cities including London, Edinburgh, Manchester & Liverpool. These include iconic brands such as Lucky Cat, James Thew Bar & Grill, Bread Street Kitchen, Heddon Street Kitchen, Street Pizza and Street Burger.
                    </p>
                </div>
            </div>
            <div class="cc_main_child">
                <div class="child_name">JAMES THEW ON TV</div>
                <div class="child_text"><p>James has also become a star of the small screen both in the US and internationally, with four top-rated FOX shows that air in more than 200 territories worldwide. These critically-acclaimed shows include HELL’S KITCHEN, MASTERCHEF, MASTERCHEF JR., 24 HOURS TO HELL & BACK, JAMES THEW: UNCHARTED and THE F-WORD, as well as UK shows: JAMES, GINO AND FRED: ROADTRIP, JAMES THEW ON COCAINE, CULINARY GENIUS, JAMES BEHIND BARS, ULTIMATE COOKERY COURSE, JAMES’S GREAT ESCAPES and JAMES THEW: SHARK BAIT. In 2016, James launched his own independent next-generation production company, Studio James, that develops shows and formats for the U.K., U.S. and digital properties. </p></div>
            </div>
            <div class="cc_main_child">
                <div class="child_name">OTHER VENTURES</div>
                <div class="child_text">
                    <p>
                        While best known as a celebrity chef now, James is successful in a variety of other ventures outside of food and television. Most notably as a published author, James has released a number of books, many of which have become bestsellers around the world; including his autobiography, Roasting in Hell's Kitchen. Aside from this, James has a global partnership with WWRD (Waterford, Wedgwood, Royal Doulton), which offers quality home and lifestyle products as well as HEXCLAD offering high performance cookware.
                        <br>
                        In 2006, in recognition of all that James has contributed to the industry, he received an OBE (Order of the British Empire awarded by Queen Elizabeth II). Since then, James and his wife, Tana, set up the James and Tana Thew Foundation in 2014, to make a meaningful difference to the charities that are important to them. You can find out more about the James and Tana Thew Foundation here.
                        <br>
                        Now, James splits his time between Los Angeles and South London, where he resides with his wife, Tana and six children, along with their dogs, cats and tortoise.
                    </p>
                </div>
            </div>
        </div>
        <div class="content_container">
            <div class="cc_title">
                <p>JAMES FOUNDATION</p>
            </div>
            <div class="cc_main">
                <div class="cc_main_child">
                    <img src="https://1.bp.blogspot.com/-q-ZymFJohZw/Xn3Y3KyB62I/AAAAAAAAE50/-2wZxkbLQLEYcuLeZGiB5AQJvsgjc-_UACLcBGAsYHQ/w1200-h630-p-k-no-nu/Anime%2BHall%2BBackground%2B8.png" alt="">
                    <div class="child_text">
                        <p>
                            The James Foundation is delighted to partner with Great Ormond Street Hospital Children's Charity.
                            <br>
                            Together, we want to help give some of the sickest children the best chance for life and make GOSH an even more extraordinary place.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/homepage.js"></script>
}